<html ng-app="myApp">
  <head>
    <link rel="icon" href="dolt_logo.png" />
    <title>Dolt</title>
    <meta http-equiv="Pragma" content="no-cache">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href='main.css'>
    <script src='main.js'></script>
  </head>
  <body  ng-controller="tasks">

    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo center" style="color: #ff1744;">Dolt</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><i class="material-icons">menu</i></li>
        </ul>
      </div>
    </nav>

    <button data-activates="slide-out" class="button-collapse">Side Nav Demo</button>
    
    <ul id="slide-out" class="side-nav">
      <li>Item 1</li>
    </ul>

    <div class='container row'>
      <div id='pendentes'>
        <h2> Tarefas Pendentes <a href='#modal1'><i class="material-icons" style="color: white;">add</i></a><hr></h2>
        <div class='tasklist row' >
            <div ng-repeat="task in pendingtasks" class="col s12 m6">
              <div class="card white-card hoverable">    
                <div>
                  <input ng-click="complete(task)" type="checkbox" id={{task._id}} ng/>
                  <label for={{task._id}} class="task-label"><span id='taskname'>{{task.name}}</span></label>
                  <a href='{{"#modal"+task._id}}'><i class="material-icons" ng-click="edit(task)" style = "cursor: pointer">mode_edit</i></a>
                  <i class="material-icons" ng-click="delete(task)" style="cursor: pointer;">delete</i>
                </div>
                <div>
                  <h4>{{task.date}}</h4>
                </div>
            </div>
        </div>
      </div>
      <div>
      <modal title='Editar Tarefa' id ="{{'modal'+ pendingtasks[0]._id}}"><editmodal date="hoje" name={{pendingtasks[0].name}}></editmodal></modal>
      </div></div>
<!-- Modal Structure-->

        <modal title="Nova Tarefa" id="modal1">
          <div ng-controller="modal" class="row">
          <form id='newtaskform' method="POST" style='background-color: white' ng-submit="submitForm()">
              <div class="input-field col s12">
                <input id='task-name' type='text' class='validate' name='taskName' ng-model="task.name">
                <label id="task-name-label" for="task-name">Tarefa</label>
              </div>
              <div class="input-field col s12 m6">
                <input id='task-date' type="text" placeholder="dd/mm/aaaa" class='validate' name='taskDate' ng-model="task.date">
                <label id="task-date-label" for="task-date">Data</label>
              </div>
            <div class="col s12 m6">
              <button id='btn-cadastrar' class="btn waves-effect waves-light modal-close" type="submit" onclick="document.getElementById('newtaskform').reset()">Adicionar
                <i class="material-icons right">send</i>
              </button>
            </div>
          </form>
          </div>
        </modal>

 <!--End of Modal-->

      <div id='completados'>
        <h2> Tarefas Completadas<hr></h2>
        <div class='tasklist row' >
            <div ng-repeat="task in completedtasks" class="col s12 m6">
              <div class="card white-card hoverable" id='<completedcar></completedcar>d'>    
                <div>
                  <h3 id="taskname">{{task.name}}
                  <i class="material-icons" ng-click="edit(task)" style = "cursor: pointer">mode_edit</i>
                  <i class="material-icons" ng-click="delete(task)" style="cursor: pointer;">delete</i></h3>
                </div>
              </div>
            </div>
        </div>
      </div>

    </div>
  </body>
</html>
