<html>
    <head>
        <link rel="icon" href="dolt_logo.png" />
        <title>Dolt</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
        <link rel="stylesheet" href='main.css'>
    </head>
    <body>
        <div class='container row'>
            <div id='login_div' class="col s12 m12 l12">
                <h1 class='title'><img id='image_logo' src='dolt_logo.svg'>Dolt</h1>
            </div>
        </div>
    </body>
</html>