*, #btn-cadastrar{
  background-color: #ff1744;
  color: white;
  font-family: Roboto, sans-serif;;
}

div{
  background-color: inherit;
  color: inherit;
}

.title{
  text-align: center;
  font-size: 380%;
}

label{
  color: white;
}

#image_logo{
  width: 43px;
  background-color: white;
  color: #ff1744;
}

h2{
  font-size: 200%;
}

#login_div{
  position: relative;
  width: 100%;
  background-color: white;
  color: #ff1744;
}

.modal, #task-name, #task-name-label, #task-date-label, .input-field, .modal-footer, .modal-content, .modal-title{
  background-color: white;
  color: #ff1744;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid #ff1744;
  box-shadow: 0 1px 0 0 #ff1744;
}

#modal-content{
  overflow: visible;
}

h3{
  background-color: inherit;
  color: inherit;
  font-size: 120%;
}

h4{
  font-size: 85%;
}

#taskname{
  background-color: inherit;
  color: inherit;
  font-size: 150%;
}

#facebook-login{
  width: 100%;
  background-color: #3b5998;
  height: 50px;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

#google-login{
  width: 100%;
  background-color: #1976d2;
  height: 50px;
  text-align: center;
  margin-top: 50px;
}

text{
  background-color: inherit;
}

#btn-cadastrar{
  position: relative;
  left:35%;
  top:25px;
}
hr.login-hr{
  width: 45%;
  border: 1px solid #ff1744;
  display: inline-block;
}

.text-login{
  font-weight: bold;
  position: relative;
  bottom:4px;
  background-color: inherit;
  color: #ff1744;
}

.white-card{
  height: 85px;
  background-color: white;
  color: #ff1744;
}

input, label, p, h4, i{
  background-color: inherit;
  color: inherit;
}

.modal-title{
  font-size: 150%;
  position: relative;
  left: 23px;
}

#completedcard{
  margin: auto;
  position: fixed;
}

img.rounded{
  border-radius: 50%;
}

#profile-pic{
  position: fixed;
  top:6%;
}

nav, .nav-wrapper, .brand-logo, li{
  background-color: white;
  color: #ff1744;
}

#menu{
  position: relative;
  left: 10%;
}